:root {
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-active-dark-cyan: hsla(158, 36%, 37%, 0.441);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-grayish-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-Fraunces: 'Fraunces', serif;

    --fw-500: 500;
    --fw-700: 700;

    /* font-size paragraph: 14px */
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  body {
    background-color: var(--clr-cream);
    display: grid;
    place-content: center;
    margin: 1.25rem;
    font-family: var(--ff-montserrat);
  }

  .content {
    display: grid;
    background-color: var(--clr-white);
    border-radius: 0.75rem;
    overflow: hidden;
    max-width: 580px;
  }

  .content-main {
    display: grid;
    padding: 1.5rem;
    gap: 0.85rem;
  }

  .content-title {
    font-family: var(--ff-Fraunces);
    color: var(--clr-dark-blue);
    line-height: 2rem;
    font-weight: var(--fw-700);
  }

  .content-def {
    color: var(--clr-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: var(--fw-500);
    font-size: 14px;
  }

  .content-info {
    color: var(--clr-grayish-blue);
    font-size: 14px;
  }

  .content-flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }

  .price {
    font-family: var(--ff-Fraunces);
    font-weight: var(--fw-700);
    color: var(--clr-dark-cyan);
    font-size: 2rem;
  }

  .original-price {
    color: var(--clr-grayish-blue);
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.85rem;
    border-radius: 0.5rem;
    border: none;
    gap: 0.75rem;

    background-color: var(--clr-dark-cyan);
    color: var(--clr-white);
    font-weight: var(--fw-700);
  }

  .btn[data-icon="cart"]::before {
    content: '';
    background-image: url(images/icon-cart.svg);
    width: 15px;
    height: 16px;
  }

  .btn:hover {
    background-color: var(--clr-active-dark-cyan);
  }

@media (min-width: 600px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }

    .content-main {
        padding: 2rem;
    }
}